<sly
  data-sly-use.flyoutContent="com.xfheaderpoc.core.models.FlyoutContent"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
>
  <div>
    <img
      class="flyout__image"
      src="${flyoutContent.fileReference}"
      alt="${flyoutContent.alt}"
      data-sly-test="${flyoutContent.fileReference}"
    />
  </div>
  <div>
    <h2 class="flyout__heading">${flyoutContent.heading}</h2>
    ${flyoutContent.text @ context = 'html'}
  </div></sly
>
<sly
  data-sly-call="${templates.placeholder @ isEmpty = !flyoutContent.text}"
></sly>