//  XF Footer style, used on page template

footer.experiencefragment {
  border-block-start: 1px solid $color-foreground;
  padding: .5em 1em;

  @media (prefers-color-scheme: dark) {
    border-color: $color-foreground-dark;
  }

  .cmp-separator__horizontal-rule {
    border: 0;
    margin: 0;
  }
}
