html,
body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

main {
  box-sizing: content-box;
  float: none !important;
  inline-size: calc(100% - 60px);
  margin: 0 auto;
  max-inline-size: 1300px;
  padding: 0 30px;
}
