:root {
  --button-flyout-inset-inline-end: 100px;
}

.flyout {
  display: inline-flex;
  inline-size: auto;
  inset-block-start: 70px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.header-nav__buttons .flyout {
  inset-inline-end: var(--button-flyout-inset-inline-end);
}

.flyout__content {
  background: #242526;
  box-shadow: 0 6px 10px rgb(0 0 0 / 15%);
  color: #f2f2f2;
  display: inline-flex;
  justify-content: space-between;
  padding: 20px;
}

.aem-AuthorLayer-Edit,
.aem-AuthorLayer-structure,
.aem-AuthorLayer-initial,
.aem-AuthorLayer-Layouting {
  .flyout__content {
    margin: 0 auto;
    max-inline-size: 500px;
  }
}

.flyout__content--two-columns {
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  justify-items: center;
}

.flyout__image {
  max-block-size: 225px;
}

.flyout__heading {
  margin-block: 0 0.5em;
}

.flyout__unordered-list {
  margin: 0;
  padding: 0;

  b {
    padding-inline-end: 6px;
  }

  > li {
    list-style: none;
    padding-block: 10px;
  }

  a {
    color: #f2f2f2;
    display: inline-flex;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
}

@media (max-width: 970px) {
  .flyout {
    display: block;
    inset-block-start: 65px;
    max-block-size: 0;
    opacity: 1;
    overflow: scroll;
    padding: 0 20px;
    position: static;
    visibility: visible;
  }

  .flyout__image {
    max-block-size: none;
  }

  .header-nav__list-item.open .flyout {
    max-block-size: 100%;
  }

  .flyout__content {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 0 20px;
  }

  .flyout__content--two-columns {
    padding: 20px;
  }
}
